p {
    font-size: 36px;
    color: rgb(202, 26, 135);
    text-align: center;
}
#secondparagraph {
    background-color: black;
}
.commonparagraph {
    text-decoration: underline;
    font-size: 24px;
    a {
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
}